.image-gallery-thumbnail.active {
  position: relative;
  overflow: hidden;
  border: none !important;
  transition: none !important;
  background-color: rgba(0, 0, 0, 0.2); 
}

.image-gallery-thumbnail {
  width: 76px !important;
  height: 76px !important;
  position: relative;
  overflow: hidden;
  border: none !important; 
  transition: none !important;
  margin-bottom: 8px;
}

.image-gallery-thumbnail:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 1;
}

.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left {
  width: 76px;
}
.image-gallery-slide-wrapper.image-gallery-thumbnails-left {
  width: calc(100% - 88px);
  float: right;

}
@media (min-width: 960px) {
  .image-gallery-swipe {
    height: 500px;
  }
}
@media (min-width: 1920px) {
    .image-gallery-swipe {
    height: 628px;
  }
}